@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

iframe {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border-width: 0;
}

.max-container {
    max-width: 800px;
    margin: auto;
    vertical-align: middle;
}

.gothic_txt {
	font-family: NaumGothic;
}

.box {
    position: relative;
    display: block;
    background: #ffffff;
    padding: 0 10px;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(11, 12, 12, 0.16);
}